version: '3.7'
services:
  redis:
    image: redis
    restart: always
    environment:
      TZ: Asia/Shanghai
    command: redis-server /etc/redis/redis.conf --appendonly yes --requirepass 123456
    ports:
      - 6379:6379
    volumes:
      - ./data:/data
      - ./redis.conf:/etc/redis/redis.conf
